.button:hover {
    -fx-background-color: #868ddc;
    -fx-color-label-visible: white;
    -fx-text-fill: white;
}

.button:hover .hbox-nav .label-nav {
    -fx-color-label-visible: white;
    -fx-text-fill: white;
}

#signUpText:hover {
    -fx-underline: true;
}